#banner
  .banner_content
    %h1 Noted
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "The best note application. Period."
    %p.name - Ernie Salazar
#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Master cleanse Austin artisan PBR Blue Bottle craft beer. Chia ugh before they sold out, ethical keytar Helvetica Marfa readymade American Apparel viral.

      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p Organic salvia chia, dreamcatcher vinyl jean shorts before they sold out Wes Anderson post-ironic irony. Banh mi normcore fashion axe ugh literally migas.

      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p Normcore before they sold out banh mi, disrupt cliche four dollar toast 90's. Ethical meggings master cleanse stumptown High Life, sustainable Carles.
#bottom_cta
  .wrapper
    %h2 Get Noted!
    %p You know you want to. Start getting noted now!
    %button= link_to "Sign Up Now!", new_user_registration_path

%footer
  %p &copy; Salazar 2015