#banner
  .banner_content
    %h1 Noted
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "The best note application. Period."
    %p.name - Ernie Salazar
#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
  .wrapper
    %h2 Get Noted!
    %p You know you want to. Start getting noted now!
    %button= link_to "Sign Up Now!", new_user_registration_path

%footer
  %p &copy; Salazar 2015